body {
  background-color: rgb(23, 23, 23);
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  width: 980px;
  margin: auto;
}

h1 {
  text-align: center;
}

#title {
  width: 366px;
}

#achievement-canvas {
  border: 1px white solid;
  width: 550px;
  height:204px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#download-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: block;
  color: white;
  background-color: rgb(2, 169, 2);
  border: none;
  width: 125px;
  height: 50px;
  font-size: large;
}

#download-btn:hover {
  cursor: pointer;
  background-color: green;
}